/* =========================
   MOBILE SEARCH BAR
========================= */
.mobileSearch {
  position: fixed;
  top: 60px; /* height of navbar */
  left: 0;
  width: 100%;

  background: #eeeeee;
  padding: 10px 12px;

  z-index: 999;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

/* INPUT */
.mobileSearch input {
  width: 100%;
  height: 42px;

  padding: 0 14px;
  font-size: 14px;

  border: none;
  border-radius: 8px;

  outline: none;
}

/* =========================
   BACKDROP
========================= */
.backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.35);
  z-index: 998;
}
