/* ==================================================
   PRODUCT PURCHASE
================================================== */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cartBox {
  margin-top: 2px;
}